@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  .presentation-container {
    display: flex;
    max-width: 90%;
    height: fit-content;
    margin: 100px auto 0;
    .title-container {
      @include flexCenter;
      flex-direction: column;
      width: 50%;
      .title {
        opacity: 0;
        animation: fadeIn 2s 0.3s forwards;
        line-height: 1;
        text-align: center;
        height: max-content;
        width: 100%;
        font-size: clamp(3rem, 6vw, 7rem);
        background: linear-gradient(
          241deg,
          #a0e9ff 20%,
          #185adb 50%,
          #f093b0 60%,
          #ae3838 89%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .title2 {
        animation: fadeIn 2s 3s forwards;
        font-family: Bogart-Thin;
        text-align: center;
        width: 70%;
        font-size: clamp(0.5rem, 1.5vw, 1.2rem);
        color: #a0e9ff;
        letter-spacing: 1px;
        margin-top: clamp(20px, 40px, 60px);
        opacity: 0;
      }
    }
    .image-container {
      opacity: 0;
      animation: fadeInUp 0.5s 2s forwards;
      @include flexCenter;
      width: 50%;
      max-height: 70vh;
      overflow: hidden;
      background-color: #191919;
      border-radius: 40px;
      position: relative;
      .image {
        max-width: 150%;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  80% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 452px) {
  .home {
    .presentation-container {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title-container {
        width: 100%;
        .title {
        }
        .title2 {
        }
      }
      .image-container {
        width: 100%;
        height: 40vh;
        margin-top: 20px;

        .image {
        }
      }
    }
  }
}
